*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    background-color: rgb(31, 30, 30);
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/** box1 **/
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/** box2 **/
.add-first{
    color: rgb(184, 184, 184);
    margin-left: 15px;
    font-size: 0.85rem;
}

.add-second{
    font-size: 1rem;
    margin-left: 3.5px;

}

.add-icon{
    display: flex;
}

/** box3 **/
.nav-search{
    display: flex;
    width: 620px;
    height: 40px ;
    border-radius: 4px;
}

.search-icon{
    background-color: rgb(255, 200, 0);
    border-top-right-radius: 4px;
    width: 50px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-select{
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    background-color: rgb(238, 238, 238);
    font-size: 1rem;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.nav-search:hover{
    border: 2px solid orange;

}

/** box4 and box5 **/
#upper{
    font-size: 0.7rem;
}

.lower{
    font-size: 0.85rem;
    font-weight: 700;

}

/** box6 **/

.nav-cart i {
    font-size: 25px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 550;
}

/** This is for panel **/

.panel{
    display: flex;
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-opts p{
    display: inline;
    margin-left: 15px;
}

.panel-opts{
    width: 70%;
}

.panel-deals{
    font-size: 1rem;
    font-weight: 600;
}

/** This is for hero section **/

.hero-section{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}   

.hero-msg{
    height: 40px;
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185  ;
}

/** This is for shop section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #C5D7D9;

}

.box{
    /* border: 2px solid black; */
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.box-content{
    margin-left: 2.7rem;
}

.box-content p {
    color: rgb(33, 111, 190);
}

footer{
    margin-top: 15px;

}

.footer-panel1{
    height: 40px;
    background-color: #1d2732;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul p{
    font-weight: 540;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}

.footer-panel3 {
  background-color: #222f3d;
  border-top: 1.5px solid white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.foot-logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 80px;
}

.footer-panel4{
    background-color: rgb(31, 30, 30);
    height: 65px;
    color: white;
    font-size: 0.75rem;
    
}

.pages{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}


.pages a{
    margin-left: 15px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}